#header-container {
  position: fixed;
  top: 0;

}
.transparent-header {
  color: white;
}
#header-container.sticky {
  opacity: 1;
  background: white;
  transition: .3s;

}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.user-menu-small-nav {
  li {
    &:hover {
      cursor: pointer;
      color: #2a41e8;
    }
  }
}

