<!-- Page Content -->
<div class="full-page-container with-map">
  <!-- Full Page Sidebar / End -->
  <div class="row no-gutters col-xl-12 task-filter-row">
    <div class="task-filter-search">
      <button mat-button (click)="openFilterDialog()">
        <span>{{this.selectedTask?.location?.display_name || 'Location'}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>

  <div class="row no-gutters col-xl-12">
    <!-- Full Page Content -->
    <div class="col col-xl-5 col-sm-12 align-self-start scroll-content">
      <div class="full-page-content-inner">
        <div class="listings-container compact-list-layout margin-bottom-25">

          <!-- Job Listing -->
          <a class="job-listing d-flex align-items-center justify-content-between" *ngFor="let task of tasks" (click)="viewTask(task);">

            <!-- Job Listing Details -->
            <div class="job-listing-details">

              <!-- Logo -->
              <div class="job-listing-company-logo">
                <img src="../../../assets/images/company-logo-01.png" alt="">
              </div>

              <!-- Details -->
              <div class="job-listing-description">
                <h3 class="job-listing-title">{{task.name}}</h3>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
                  <ul>
                    <!--<li><i class="icon-material-outline-business"></i> Hexagon <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>-->
                    <li><i class="icon-material-outline-location-on"></i> {{task.location?.display_name}}</li>
                    <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                    <li><i class="icon-material-outline-access-time"></i>{{ task.created_at | convertDateTimeToFromNow: task.created_at}}</li>
                  </ul>
                </div>
              </div>

              <!-- Bookmark -->
              <!-- <span class="bookmark-icon"></span> -->
            </div>
            <div class="task-bid-price d-flex flex-column align-items-center">
              ${{task.price}}
              <img *ngIf="task.user.avatar" class="user-avatar" [src]="task.user.avatar" alt="avatar" >
              <img *ngIf="!task.user.avatar" class="user-avatar" src="assets/images/avatar.png" alt="avatar" >
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Full Page Content / End -->

    <!-- Full Page Map -->
    <div class="col col-xl-7 col-lg-aut col-xl-auto col-sm-12 align-self-start scroll-content">
      <app-task-map *ngIf="!selectedTask"></app-task-map>
      <app-task *ngIf="selectedTask" [task]="selectedTask"></app-task>
      <!-- Map -->
      <!--<div id="map" data-map-zoom="12" data-map-scroll="true"></div>-->
    </div>
    <!-- Full Page Map / End -->
  </div>

</div>
