.full-page-container {
  height: auto;
  margin-top: 82px;
  .fixed {
    position: fixed;
  }
}

.task-bid-price {
  font-weight: 500;
  font-size: 24px;
  color: #292b32;
}
.notify-box {
  padding: 10px 15px;
  .sort-by {
    display: block;
    float: none;
  }
}
.task-filter-row {
  padding: 0;
  .task-filter-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .4s 0ms;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 100%;
    white-space: normal;

  }
}

::ng-deep {
  .mat-menu-panel {
    width: auto;
    max-width: none!important;
  }
}


