.loading {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: 9990;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  .loading-text {
    z-index: 9999;
    color: #ffffff;
  }
}
