<!--&lt;!&ndash; Dashboard Content-->
	<!--================================================== &ndash;&gt;-->
<!--<div class="dashboard-content-container" data-simplebar>-->
  <!--<div class="dashboard-content-inner" >-->

    <!--&lt;!&ndash; Dashboard Headline &ndash;&gt;-->
    <!--<div class="dashboard-headline">-->
      <!--<h3>Post a Task</h3>-->

      <!--&lt;!&ndash; Breadcrumbs &ndash;&gt;-->
      <!--<nav id="breadcrumbs" class="dark">-->
        <!--<ul>-->
          <!--<li><a href="#">Home</a></li>-->
          <!--<li><a href="#">Dashboard</a></li>-->
          <!--<li>Post a Task</li>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Dashboard Box &ndash;&gt;-->
      <!--<div class="col-xl-12">-->
        <!--<div class="dashboard-box margin-top-0">-->

          <!--&lt;!&ndash; Headline &ndash;&gt;-->
          <!--<div class="headline">-->
            <!--<h3><i class="icon-feather-folder-plus"></i> Task Submission Form</h3>-->
          <!--</div>-->

          <!--<div class="content with-padding padding-bottom-10">-->
            <!--<div class="row">-->

              <!--<div class="col-xl-4">-->
                <!--<div class="submit-field">-->
                  <!--<h5>Project Name</h5>-->
                  <!--<input type="text" class="with-border" placeholder="e.g. build me a website">-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-xl-4">-->
                <!--<div class="submit-field">-->
                  <!--<h5>Category</h5>-->
                  <!--<select class="selectpicker with-border" data-size="7" title="Select Category">-->
                    <!--<option>Admin Support</option>-->
                    <!--<option>Customer Service</option>-->
                    <!--<option>Data Analytics</option>-->
                    <!--<option>Design & Creative</option>-->
                    <!--<option>Legal</option>-->
                    <!--<option>Software Developing</option>-->
                    <!--<option>IT & Networking</option>-->
                    <!--<option>Writing</option>-->
                    <!--<option>Translation</option>-->
                    <!--<option>Sales & Marketing</option>-->
                  <!--</select>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-xl-4">-->
                <!--<div class="submit-field">-->
                  <!--<h5>Location  <i class="help-icon" data-tippy-placement="right" title="Leave blank if it's an online job"></i></h5>-->
                  <!--<div class="input-with-icon">-->
                    <!--<div id="autocomplete-container">-->
                      <!--<input id="autocomplete-input" class="with-border" type="text" placeholder="Anywhere">-->
                    <!--</div>-->
                    <!--<i class="icon-material-outline-location-on"></i>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-xl-6">-->
                <!--<div class="submit-field">-->
                  <!--<h5>What is your estimated budget?</h5>-->
                  <!--<div class="row">-->
                    <!--<div class="col-xl-6">-->
                      <!--<div class="input-with-icon">-->
                        <!--<input class="with-border" type="text" placeholder="Minimum">-->
                        <!--<i class="currency">USD</i>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xl-6">-->
                      <!--<div class="input-with-icon">-->
                        <!--<input class="with-border" type="text" placeholder="Maximum">-->
                        <!--<i class="currency">USD</i>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="feedback-yes-no margin-top-0">-->
                    <!--<div class="radio">-->
                      <!--<input id="radio-1" name="radio" type="radio" checked>-->
                      <!--<label for="radio-1"><span class="radio-label"></span> Fixed Price Project</label>-->
                    <!--</div>-->

                    <!--<div class="radio">-->
                      <!--<input id="radio-2" name="radio" type="radio">-->
                      <!--<label for="radio-2"><span class="radio-label"></span> Hourly Project</label>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-xl-6">-->
                <!--<div class="submit-field">-->
                  <!--<h5>What skills are required? <i class="help-icon" data-tippy-placement="right" title="Up to 5 skills that best describe your project"></i></h5>-->
                  <!--<div class="keywords-container">-->
                    <!--<div class="keyword-input-container">-->
                      <!--<input type="text" class="keyword-input with-border" placeholder="Add Skills"/>-->
                      <!--<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>-->
                    <!--</div>-->
                    <!--<div class="keywords-list">&lt;!&ndash; keywords go here &ndash;&gt;</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-xl-12">-->
                <!--<div class="submit-field">-->
                  <!--<h5>Describe Your Project</h5>-->
                  <!--<textarea cols="30" rows="5" class="with-border"></textarea>-->
                  <!--<div class="uploadButton margin-top-30">-->
                    <!--<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple/>-->
                    <!--<label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>-->
                    <!--<span class="uploadButton-file-name">Images or documents that might be helpful in describing your project</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xl-12">-->
        <!--<a href="#" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post a Task</a>-->
      <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash; Row / End &ndash;&gt;-->

    <!--&lt;!&ndash; Footer &ndash;&gt;-->
    <!--<div class="dashboard-footer-spacer"></div>-->
    <!--<div class="small-footer margin-top-15">-->
      <!--<div class="small-footer-copyrights">-->
        <!--© 2018 <strong>Hireo</strong>. All Rights Reserved.-->
      <!--</div>-->
      <!--<ul class="footer-social-links">-->
        <!--<li>-->
          <!--<a href="#" title="Facebook" data-tippy-placement="top">-->
            <!--<i class="icon-brand-facebook-f"></i>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#" title="Twitter" data-tippy-placement="top">-->
            <!--<i class="icon-brand-twitter"></i>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#" title="Google Plus" data-tippy-placement="top">-->
            <!--<i class="icon-brand-google-plus-g"></i>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#" title="LinkedIn" data-tippy-placement="top">-->
            <!--<i class="icon-brand-linkedin-in"></i>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Footer / End &ndash;&gt;-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Dashboard Content / End &ndash;&gt;-->
<form [formGroup]="taskForm" class="task-form">

<mat-horizontal-stepper [linear]="isLinear" #stepper selectedIndex="selectedIndex">
  <mat-step [stepControl]="taskForm">
        <ng-template matStepLabel>Tell us what you need done?</ng-template>
        <h3>What do you need done?</h3>
        <mat-form-field class="task-input-field">
          <input matInput placeholder="This'll be the title of your task - e.g. Help move my sofa" formControlName="name" required [errorStateMatcher]="matcher">
        </mat-form-field>
        <h3>What are the details?</h3>
        <mat-form-field class="task-input-field">
          <textarea matInput placeholder="Be as specific as you can about what needs doing" formControlName="description" rows="10" required [errorStateMatcher]="matcher"></textarea>
          <mat-hint>Please enter at least 25 characters description for your task.</mat-hint>
          <mat-error *ngIf="!this.taskForm.controls.description.valid">
            Please enter at 25 characters.
          </mat-error>
        </mat-form-field>
        <div class="nav-btns">
          <button mat-button class="nav-btn full-width-btn" matStepperNext>Next</button>
        </div>
  </mat-step>
  <mat-step [stepControl]="taskForm">
      <ng-template matStepLabel>Say where & when?</ng-template>
      <h3>Where do you need it done?</h3>
      <mat-radio-group class="option-group" formControlName="online_or_phone" (change)="getSelectedWorkingType()">
        <mat-radio-button [value]="false" checked color="primary" class="option">
          <div class="option-detail">
            <h3> In Person</h3>
            <p>Select this if you need the Tasker physically here.</p>
            <mat-icon>place</mat-icon>
          </div>
        </mat-radio-button>

        <mat-radio-button [value]="true" color="primary" class="option">
          <div class="option-detail">
            <h3>Online</h3>
            <p>Select this if you need the Tasker can do it from home.</p>
            <mat-icon>smartphone</mat-icon>
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <!-- location -->
      <div class="location-box" *ngIf="!this.taskForm.get('online_or_phone').value">
        <mat-form-field class="location">
          <mat-label>Select suburb</mat-label>
          <input matInput
                 matGoogleMapsAutocomplete
                 type="address"
                 country="au"
                 formControlName="default_location"
                 (onAutocompleteSelected)="onAutocompleteSelected($event)"
                 (onLocationSelected)="onLocationSelected($event)"
                  [value]="selectedSuburb.display_name">
        </mat-form-field>
      </div>
      <!-- date -->
      <h3>When do you need it done?</h3>
      <div class="task-duedate">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="deadline" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="task-certain-time">
        <mat-checkbox class="certain-time-check" color="warn" [(ngModel)]="isCertainDay" [ngModelOptions]="{standalone: true}"><span>I need a certain time of day</span></mat-checkbox>
        <div class="certain-times-container" *ngIf="isCertainDay">
          <h3>What time(s) do you need the Tasker?</h3>
          <div class="certain-times">
            <div class="certain-time-box" (click)="checkCertainTime($event,'morning')">
              <mat-icon svgIcon="sunrise-icon"></mat-icon>
              <mat-checkbox class="certain-time-check" [(ngModel)]="specified_times.morning" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              <div class="certain-time-desc">
                <h5>Morning</h5>
                <p>Before 10am</p>
              </div>
            </div>
            <div class="certain-time-box" (click)="checkCertainTime($event,'midday')">
              <mat-icon>wb_sunny</mat-icon>
              <mat-checkbox class="certain-time-check" [(ngModel)]="specified_times.midday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              <div class="certain-time-desc">
                <h5>Midday</h5>
                <p>10am - 2pm</p>
              </div>
            </div>
            <div class="certain-time-box" (click)="checkCertainTime($event, 'afternoon')">
              <mat-icon svgIcon="sunset-icon"></mat-icon>
              <mat-checkbox class="certain-time-check" [(ngModel)]="specified_times.afternoon" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              <div class="certain-time-desc">
                <h5>Afternoon</h5>
                <p>2pm - 6pm</p>
              </div>
            </div>
            <div class="certain-time-box" (click)="checkCertainTime($event,'evening')" >
              <mat-icon svgIcon="moon-icon"></mat-icon>
              <mat-checkbox class="certain-time-check" [(ngModel)]="specified_times.evening" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              <div class="certain-time-desc">
                <h5>Evening</h5>
                <p>Before 10am</p>
              </div>
            </div>

          </div>
          <h3>It's ok, you can sort out exact times later.</h3>
        </div>
      </div>

      <div class="nav-btns">
        <button mat-button  class="nav-btn percent-25" matStepperPrevious>Back</button>
        <button mat-button class="nav-btn percent-25 primary" matStepperNext>Next</button>
      </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Suggest how much</ng-template>
    <h3>What is your budget?</h3>
    <p>Please enter the price you're comfortable to pay to get your task done. Taskers will use this as a guide for how much to offer.</p>
    <mat-radio-group class="option-group space-around" (change)="getSelectedPayType()" [(ngModel)]="totalOrhourly" [ngModelOptions]="{standalone: true}">

      <mat-radio-button [value]="true" checked color="primary" class="option">
        Total
      </mat-radio-button>

      <mat-radio-button [value]="false" color="accent" class="option">
        Hourly
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="totalOrhourly">
      <input matInput placeholder="Amount" type="number" class="text-align-right" formControlName="price" [(ngModel)]="price" required min="0" step="5" (keyup)="getBudgetAmount()">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>AUD</span>
    </mat-form-field>

    <div *ngIf="!totalOrhourly" class="budget-fields">
      <mat-form-field>
        <input matInput placeholder="/hr" type="number" class="text-align-right" formControlName="price" [(ngModel)]="price" min="0" step="5" required (keyup)="getBudgetAmount()">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>AUD</span>
      </mat-form-field>
      <mat-icon>clear</mat-icon>

      <mat-form-field>
        <input matInput placeholder="/hr" type="number" class="text-align-right" [(ngModel)]="hours" [ngModelOptions]="{standalone: true}" min="0" step=".5" [pattern]='validHours' (keyup)="getBudgetAmount()">
        <span matSuffix>hrs</span>
      </mat-form-field>
    </div>
    <div class="estimated-budget">
      <h1 class="budget-title">Estimated budget</h1>
      <p class="budget-note">Final payment will be agreed later.</p>
      <p class="budget-amount"><sup>$</sup>{{amount}}</p>
    </div>
    <div class="nav-btns">
      <button mat-button  class="nav-btn percent-25" matStepperPrevious>Back</button>
      <button mat-button class="nav-btn percent-25 primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
      Nearly done! Are you sure to publish this task?
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="postTask()">OK</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

</form>
