<mat-tab-group [(selectedIndex)]="tabIndex">
  <mat-tab label="Log in">
    <form class="login" [formGroup]="loginForm">
      <div class="welcome-text margin-top-20">
        <h3>We're glad to see you again!</h3>
        <span>Don't have an account? <a class="register-tab" (click)="moveToSignup()">Sign Up!</a></span>
      </div>
      <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email Address" type="email" required formControlName="email">
        <mat-error>{{getErrorMessage().emailErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" type="password" required formControlName="password">
        <mat-error>{{getErrorMessage().passwordErrorMsg}}</mat-error>
      </mat-form-field>
      <a href="#" class="forgot-password">Forgot Password?</a>
      <button class="button full-width button-sliding-icon ripple-effect margin-top-20" type="submit" (click)="login();">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>
      <p *ngIf="errorMsgs.credentialErrorMsg" class="mat-error">{{errorMsgs.credentialErrorMsg}}</p>

      <div class="social-login-separator"><span>or</span></div>

      <div class="social-login-buttons">
        <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
        <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</button>
      </div>
      <mat-divider></mat-divider>

      <mat-progress-spinner class="spinner justify-center text-center mx-auto" mode="indeterminate" color="accent" value="10" diameter="20" *ngIf="inProcess"></mat-progress-spinner>
    </form>

  </mat-tab>
  <mat-tab label="Join us">
    <form class="register" [formGroup]="registerForm">
      <div class="welcome-text margin-top-20">
        <h3>Let's create your account!</h3>
      </div>
      <mat-form-field hideRequiredMarker = "false" floatLabel="auto">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email Address" type="email" required formControlName="email">
        <mat-error>{{getErrorMessage().emailErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="false" floatLabel="auto">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" type="password" required formControlName="password">
        <mat-error>{{getErrorMessage().passwordErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="false" floatLabel="auto">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Repeat Password" type="password" required formControlName="password_confirmation" (blur)="checkPassMatch();">
        <mat-error>{{getErrorMessage().cPasswordErrorMsg}}</mat-error>
        <p *ngIf="!isPassMatch" class="mat-error">Passwords do not match!</p>
      </mat-form-field>

      <button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" [disabled]="!registerForm.valid || isPassMatch===false" (click)="signup();">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

      <!--<button mat-raised-button-->
              <!--color="primary"-->
              <!--class="p-3 my-4 rounded-full text-base font-sans"-->
              <!--type="submit"-->
              <!--[disabled]="!registerForm.valid || isPassMatch===false"-->
              <!--(click)="signup();">Register</button>-->
      <p *ngIf="isEmailTaken" class="mat-error">This email is already taken, please choose another one.</p>

      <mat-progress-spinner class="spinner justify-center text-center mx-auto" mode="indeterminate" color="accent" value="10" diameter="20" *ngIf="inProcess"></mat-progress-spinner>
    </form>

    <div class="social-login-separator"><span>or</span></div>

    <div class="social-login-buttons">
      <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
      <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
    </div>
    <p class="mat-small my-2">By signing up, I agree to Airtasker's <a href="#">Terms & Conditions</a>, and <a
      href="#">Community Guidelines</a>. <a href="#">Privacy Policy</a>.</p>
  </mat-tab>


</mat-tab-group>
