.go-front {
  z-index: 999;
}
.task-detail-container {
  margin-top: 10px;
}
.task-posted-details {
  .task-subheader {
    padding: 10px 16px 0px;
    height: auto;
    text-transform: uppercase;
    color: #666;
  }

  .task-post-list {
    .task-post-item {
      height: auto;
      h4, p {
        color: #666;
      }
      p {
        font-size: 12px;
        margin-top: -5px;
      }
      .task-post-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
        color: #666;
      }
    }
  }
}
.details-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-actions {
    margin: 10px;
  }
}

.side-option {
  .budget-box {
    background: white;
    min-width: 160px;
    min-height: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #2a41e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      border-bottom: 1px dotted #2a41e8;
      font-weight: bold;
    }
    .budget-number {
      font-size: 40px;
      font-weight: bold;
      color: #585858;
      width: 100%;
      border-bottom: 1px dotted #2a41e8;
      padding: 20px 0;
      width: 100%;
      text-align: center;
    }
  }
  .task-options {
    border: 1px solid #2a41e8;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .task-options-select {
      font-size: 1rem;
    }
  }
  .task-share {
    border-radius: 6px;
    border: 1px solid #f5f9fb;
    margin-top: 20px;
    .share-text {
      background: #fff;
      position: relative;
      top: -15px;
      width: 30%;
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .67px;
      text-transform: uppercase;
      margin: 0;
    }
    .share-buttons {
      margin-top: -15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .share-link {
        .mat-icon {
          font-size: 15px;
          width: 15px;
          height: 15px;
          margin: 0 5px;
        }
      }
    }
  }
  .report-task {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    color: #bbc2dc;
    .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
}

.task-detail,
.task-offers,
.task-questions,
.task-attachment {
  padding: 5px 20px 0 40px;
  margin: 0;

  .section-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #666;
  }

  .task-detail-description {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }
}



//.task-offers {
//  padding: 0 20px 0 40px;
//  .section-title {
//    text-transform: uppercase;
//  }
//}

.task-offers {
  .offer {
    margin: 10px 10px 10px 0;
    border: 0;
    box-shadow: none;
    background: #f5f9fb;
    .offer-time {
      font-size: 11px;
      color: #545A77;
    }
    .task-offer-name {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-bottom: 0;
    }

    .rate-number, pre, .offer-description {
      font-size: 14px;
      color: #333;
    }
    .offer-description {
      line-height: 140%;
      color: #333;
    }
  }
}

.task-questions {
  .notice {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  .task-question {
    width: 100%;
    margin-right: 10px;
    .footer {
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: 7px;
      border-radius: 3px;
      padding: 0 8px;
      height: 35px;
      max-height: 35px;
      .attach_file {
        margin: 0;
        bottom: 5px;
        .mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;
          color: #2a41e8;
        }
      }
      .right {
        float: right;
        .input-count {
          color: #bbc2dc;
          font-size: 13px;
          display: inline-block;

        }
        .question-send-btn {
          color: rgb(187, 194, 220);
        }
      }

    }

    ::ng-deep {
      .mat-form-field-label {
        padding: 0 5px;
      }
      .mat-form-field-underline {
        height: 0;
      }
    }
    .task-question-input {

    }

  }
}
.user-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/*
 ** Buttons
 */

.follow-btn {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: rgba(42,65,232,.07);
  color: #008fb4;
  &:hover {
    border: 1px solid #008fb4;
  }
}
.offer-btn {
  margin-top: 8px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.reply-btn {
  color: #2a41e8;
}
/**
Rating
 */
::ng-deep {
  .mat-card {
    .ng-star-inserted {
      color: #f4be36;
    }
  }
}

