.go-front {
  z-index: 999;
}
.task-detail-container {
  margin-top: 10px;
}

.details-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-actions {
    margin: 10px;
  }
}

.side-option {
  .budget-box {
    background: white;
    min-width: 160px;
    min-height: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #2a41e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      border-bottom: 1px dotted #2a41e8;
      font-weight: bold;
    }
    .budget-number {
      font-size: 40px;
      font-weight: bold;
      color: #585858;
      width: 100%;
      border-bottom: 1px dotted #2a41e8;
      padding: 20px 0;
      width: 100%;
      text-align: center;
    }
  }
  .task-options {
    border: 1px solid #2a41e8;
    padding: 5px;
    .task-options-select {
      font-size: 1rem;
    }
  }
  .task-share {
    border-radius: 6px;
    border: 1px solid #f5f9fb;
    margin-top: 20px;
    .share-text {
      background: #fff;
      position: relative;
      top: -15px;
      width: 30%;
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .67px;
      text-transform: uppercase;
      margin: 0;
    }
    .share-buttons {
      margin-top: -15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .share-link {
        .mat-icon {
          font-size: 15px;
          width: 15px;
          height: 15px;
          margin: 0 5px;
        }
      }
    }
  }
  .report-task {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    color: #bbc2dc;
    .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
}

.task-detail,
.task-offers,
.task-questions,
.task-attachment {
  padding: 20px 20px 0 40px;
  margin: 0;
  .offer {
    margin: 10px 10px 10px 0;
    border: 0;
    box-shadow: none;
    background: #f5f9fb;
  }
  .offer-time {
    font-size: 11px;
    color: #545A77;
  }
  .section-title {
    text-transform: uppercase;
  }
}

//.task-offers {
//  padding: 0 20px 0 40px;
//  .section-title {
//    text-transform: uppercase;
//  }
//}


.task-questions {
  .notice {
    margin: 0;
  }
  .task-question {
    width: 100%;
    margin-right: 10px;
    ::ng-deep {
      .mat-form-field-label {
        padding: 0 5px;
      }
      .mat-form-field-underline {
        height: 0;
      }
    }
    .task-question-input {

    }
  }
}
.user-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/*
 ** Buttons
 */

.follow-btn {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: rgba(42,65,232,.07);
  color: #008fb4;
  &:hover {
    border: 1px solid #008fb4;
  }
}
.offer-btn {
  margin-top: 8px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.reply-btn {
  color: #2a41e8;
}
/**
Rating
 */
::ng-deep {
  .mat-card {
    .ng-star-inserted {
      color: #f4be36;
    }
  }
}

