<div class="task-detail-container" >
    <div class="task-content">
      <div class="row justify-content-between">
        <div class="col col-xl-8 col-sm-12">
          <h3>{{task.name}}</h3>

          <div class="details-panel">

            <mat-chip-list class="top-actions">
              <mat-chip [selected]="task.state === 'posted'">Open</mat-chip>
              <mat-chip [selected]="task.state === 'assigned'">Assigned</mat-chip>
              <mat-chip [selected]="task.state === 'completed'">Completed</mat-chip>
              <mat-chip [selected]="task.state === 'expired'">Expired</mat-chip>
            </mat-chip-list>

            <button mat-button class="follow-btn">
              Follow
              <mat-icon *ngIf="isFollowed">favorite</mat-icon>
              <mat-icon *ngIf="!isFollowed">favorite_border</mat-icon>
            </button>
          </div>
          <div class="task-posted-details">
            <mat-list class="task-post-list">
              <h3 mat-subheader class="task-subheader">POSTED BY</h3>
              <mat-list-item class="task-post-item">
                <mat-icon mat-list-icon class="task-post-icon">face</mat-icon>
                <ngb-rating [rate]="task.sender.sender_review_statistics.average_rating" [readonly]="true" max="5"></ngb-rating> &#40;<span class="rate-number">{{task.sender.sender_review_statistics.received_reviews}}</span>&#41;
                <h4 mat-line>{{task.sender.name}}</h4>

                <p mat-line>{{task.created_at | convertDateTimeToFromNow: task.created_at}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader class="task-subheader">LOCATION</h3>
              <mat-list-item class="task-post-item">
                <mat-icon mat-list-icon class="task-post-icon">place</mat-icon>
                <h4 mat-line>{{this.task.location.display_name}}</h4>
                <button mat-button mat-line (click)="viewOnMap();"> View Map </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader class="task-subheader">DUE DATE</h3>
              <mat-list-item class="task-post-item">
                <mat-icon mat-list-icon class="task-post-icon">date_range</mat-icon>
                <h4 mat-line>{{task.deadline | date:'fullDate'}}</h4>
                <p mat-line>
                  <span  *ngIf="task.specified_times.morning">Morning (before 10am)</span>
                  <span  *ngIf="task.specified_times.midday">Midday (10am - 2pm)</span>
                  <span  *ngIf="task.specified_times.afternoon">Afternoon (2pm - 6pm)</span>
                  <span  *ngIf="task.specified_times.evening">Evening (After 6pm)</span>
                </p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>
        </div>
        <div class="col-xl-auto col-sm-12 side-option">
          <div class="budget-box">
            <h3>Task budget</h3>
            <span class="budget-number">{{task.price}}</span>
            <button mat-raised-button class="offer-btn" color="primary" (click)="openBid()" >Make an offer</button>
          </div>
          <!--<div class="task-options">-->
            <!--<mat-select placeholder="More options" class="task-options-select">-->
              <!--<mat-option value="1">Post a similar task</mat-option>-->
              <!--<mat-option value="2">Set up alerts</mat-option>-->
            <!--</mat-select>-->
          <!--</div>-->
          <div class="task-share">
            <p class="share-text">SHARE</p>
            <div class="share-buttons">
              <a class="share-link">
                <mat-icon svgIcon="fb-logo"></mat-icon>
              </a>
              <a class="share-link">
                <mat-icon svgIcon="twitter-logo"></mat-icon>
              </a>
              <a class="share-link">
                <mat-icon svgIcon="google-plus"></mat-icon>
              </a>
              <a class="share-link">
                <mat-icon svgIcon="linkedin"></mat-icon>
              </a>
              <a class="share-link">
                <mat-icon svgIcon="wechat"></mat-icon>
              </a>
            </div>
          </div>
          <button mat-button class="report-task">
            <mat-icon class="material-icons">
              outlined_flag
            </mat-icon>
            Report this task
          </button>
        </div>
      </div>

      <!-- Task details -->
      <div class="row justify-content-around">
        <div class="col task-detail">
          <h3 class="section-title">DETAILS</h3>
          <p>{{task.description}}</p>
        </div>

      </div>
      <!-- End of Task details -->
      <!-- Task attachment -->
      <!--<div class="row justify-content-around">-->
        <!--<div class="col task-attachment">-->
          <!--<h3 class="section-title">Attachments</h3>-->
          <!--<div class="attachments-container">-->
            <!--<a href="#" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- End of task attachment -->

      <!-- Task offers -->
      <div class="row justify-content-around">
        <div class="col task-offers">
          <h3 class="section-title">OFFERS</h3>
          <mat-card class="offer" *ngFor="let bid of task.bids">
            <mat-card-header>
              <div mat-card-avatar class="user-avatar" [style.background-image]="'url('+bid.runner.avatar+')'" *ngIf="bid.runner.avatar"></div>
              <div mat-card-avatar class="user-avatar" *ngIf="!bid.runner.avatar"></div>
              <ngb-rating [rate]="bid.runner.runner_review_statistics.average_rating" [readonly]="true" max="5"></ngb-rating> &#40;<span class="rate-number">{{bid.runner.received_reviews || 0}}</span>&#41;
              <hr>
              <pre>Completed rate: <b>{{currentCompletedRate}}%</b></pre>

              <mat-card-title class="task-offer-name">
                {{bid.runner?.name}}
              </mat-card-title>
              <mat-card-subtitle class="offer-time">{{bid.created_at | convertDateTimeToFromNow: bid.created_at}}</mat-card-subtitle>
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <!--<mat-card-content>-->
              <!--<p class="offer-description">-->
                <!--{{bid?.comments[0]?.body}}-->
              <!--</p>-->
            <!--</mat-card-content>-->
            <!--<mat-card-actions *ngIf="isLoggedIn">-->
              <!--<button mat-button class="reply-btn">-->
                <!--<mat-icon>reply</mat-icon>-->
                <!--Reply-->
              <!--</button>-->
            <!--</mat-card-actions>-->
            <app-comments [isLoggedIn]="isLoggedIn" [comments]="bid?.comments" [isCommHeaderVisible]="false"></app-comments>
          </mat-card>
        </div>
      </div>
      <!-- End of Task Offers -->

      <!-- Task question -->
      <div class="row justify-content-around">
        <div class="col task-questions">
          <h3 class="section-title">Questions &#40;<span>{{taskQuestionsCount}}</span>&#41;</h3>
          <p class="notice">Please don't share personal info – insurance won't apply to tasks not done through Tasker!</p>
          <app-comments [comments]="task.comments" [isLoggedIn]="isLoggedIn" [isCommHeaderVisible]="true"></app-comments>
          <mat-form-field class="task-question">
            <textarea matInput placeholder="Ask Ryan a question" class="task-question-input"></textarea>

            <div class="footer">
              <button mat-icon-button class="attach_file">
                <mat-icon >attach_file</mat-icon>
              </button>
              <span class="right">
                 <span class="input-count">{{inputCountForQuestion}}</span>
                <button mat-button class="question-send-btn">Send</button>
              </span>
            </div>

          </mat-form-field>
        </div>
      </div>
      <!-- End of Task question -->
    </div>
  </div>

