<!-- Dashboard Container -->
<div class="dashboard-container">

    <!-- Dashboard Sidebar
      ================================================== -->
      <div class="dashboard-sidebar">
          <app-side-nav></app-side-nav>
      </div>
    <!-- Dashboard Sidebar / End -->
  

   <!-- Dashboard Content================================================== -->
   <div class="dashboard-content-container" data-simplebar>
      <router-outlet></router-outlet>
  </div>
<!-- Dashboard Content / End -->
  
  </div>
  <!-- Dashboard Container / End -->