<form class="bid-form d-flex flex-column" [formGroup]="bidForm">
  <mat-horizontal-stepper>
  <mat-step label="Make an offer" state="phone">
    <h3>Why are you the best person for this task?</h3>
    <p>For your safety, please do not share personal information, e.g., email, phone or address.</p>
    <mat-form-field class="comment">
      <textarea maxlength="1500" matInput placeholder="e.g. I will be great for this task. I have the necessary experience, skills and equipment required to get this done." formControlName="comment"></textarea>
    </mat-form-field>
    <p>1500 characters remaining</p>
    <div class="bottom-line">
      <h3>You'll receive <span>$7.8</span></h3>
    </div>
    <div class="step-action">
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Preview Offer" state="chat" class="preview-offer">
    <!--<mat-form-field class="price-input">-->
      <!--<input matInput placeholder="price" formControlName="price"/>-->
    <!--</mat-form-field>-->
    <div class="avatar">
      {{task.sender.avatar}}
    </div>
    <h3>{{task.sender.name}}</h3>
    <button mat-flat-button class="total-price">Total <br/> <span class="price">${{task.price}}</span></button>
    <div class="service-fee">
      <span>Service Fee</span>
      <span>-$2.00</span>
    </div>
    <div class="gst">
      <span>GST</span>
      <span>-$0.20</span>
    </div>
    <hr>
    <div class="received-pay">
      <span>You'll receive</span> &nbsp;
      <span>{{receivedPay}}</span>
    </div>
    <div class="pay-offer">
      <p>*Tasker will include a Service Fee to cover variable insurance and transaction costs.</p>
      <div class="pay-offer-content">
        <div class="pay-icon">
          <i class="material-icons">
            lock_open
          </i>
        </div>

        <div>
          <h3>Get paid securely</h3>
          <p>Task funds are held securely until the task is completed. Learn more.</p>
        </div>

      </div>
      <p>By clicking "Submit Offer" you agree to the <a href="#">Terms and Conditions</a></p>
    </div>
    <div class="step-action">
      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Submit Offer</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <p>You're welcome.</p>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
</form>
