<mat-tab-group>
  <mat-tab label="Join us">
    <form class="register" [formGroup]="registerForm">
      <h3 class="text-center p-2 font-sans text-base">Join us</h3>
      <mat-form-field hideRequiredMarker = "false" floatLabel="auto">
        <input matInput placeholder="Email" type="email" required formControlName="email">
        <mat-error *ngIf="!registerForm.controls.email.valid">{{getErrorMessage().emailErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="false" floatLabel="auto">
        <input matInput placeholder="Password" type="password" required formControlName="password">
        <mat-error *ngIf="!registerForm.controls.password.valid">{{getErrorMessage().passwordErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="false" floatLabel="auto">
        <input matInput placeholder="Confirm Password" type="password" required formControlName="password_confirmation" (blur)="checkPassMatch();">
        <mat-error *ngIf="!registerForm.controls.password_confirmation.valid">{{getErrorMessage().cPasswordErrorMsg}}</mat-error>
        <p *ngIf="!isPassMatch" class="mat-error">Passwords do not match!</p>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              class="p-3 my-4 rounded-full text-base font-sans"
              type="submit"
              [disabled]="!registerForm.valid || isPassMatch===false"
              (click)="signup();">Join</button>
      <p *ngIf="isEmailTaken" class="mat-error">This email is already taken, please choose another one.</p>
      <mat-progress-spinner class="spinner justify-center text-center mx-auto" mode="indeterminate" color="accent" value="10" diameter="20" *ngIf="inProcess"></mat-progress-spinner>
    </form>

    <p class="text-center font-sans text-base stroke-through my-3">
      <span>or</span>
    </p>

    <div class="flex">
      <button mat-stroked-button color="primary" class="p-3 m-2 font-sans text-sm w-1/2 rounded-full">
        <mat-icon svgIcon="facebook-icon" class="fb-icon"></mat-icon>
        Signup via Facebook
      </button>
      <button mat-stroked-button color="accent" class="p-3 m-2 font-sans text-sm w-1/2 rounded-full">
        <mat-icon svgIcon="google-icon" class="google-icon"></mat-icon>
        Signup via Google+
      </button>
    </div>
    <p class="font-sans text-xs my-2">By signing up, I agree to Airtasker's <a href="#">Terms & Conditions</a>, and <a
      href="#">Community Guidelines</a>. <a href="#">Privacy Policy</a>.</p>
  </mat-tab>

  <mat-tab label="Log in">
    <form class="login" [formGroup]="loginForm">
      <h3 class="text-center p-2 font-sans text-base">Log in</h3>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" required formControlName="email">
        <mat-error *ngIf="!registerForm.controls.email.valid">{{getErrorMessage().emailErrorMsg}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" required formControlName="password">
        <mat-error *ngIf="!registerForm.controls.password.valid">{{getErrorMessage().passwordErrorMsg}}</mat-error>
      </mat-form-field>
      <a href="#" class="font-sans text-sm">Forget password?</a>
      <button mat-raised-button color="primary" class="p-3 my-2 rounded-full text-base font-sans my-4" (click)="login()">Log in</button>
      <p class="text-center font-sans text-base stroke-through my-3">
        <span>or</span>
      </p>

      <div class="flex">
        <button mat-stroked-button color="primary" class="p-3 m-2 font-sans text-sm w-1/2 rounded-full">
          <mat-icon svgIcon="facebook-icon" class="fb-icon"></mat-icon>
          Login via Facebook
        </button>
        <button mat-stroked-button color="accent" class="p-3 m-2 font-sans text-sm w-1/2 rounded-full">
          <mat-icon svgIcon="google-icon" class="google-icon"></mat-icon>
          Login via Google+
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex justify-between text-sm font-sans my-2">
        <p>Don't have an account?</p>
        <a href="#">Sign up</a>
      </div>
    </form>

  </mat-tab>
</mat-tab-group>

